@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a website that supports managers to manage students easily via email accounts.</p>
<p>
    Greenwich University was built in 1890, with more than 120 years of history. The school currently consists of 3 campuses in London and many branches along with affiliate programs in many countries around the world, including FPT Education Organization, Vietnam. Our students are able to study and practice in a state-of-the-art environment with experienced teachers and professionals. Therefore they have the opportunity to develop both professional level and practical experience. The University of Greenwich has always set high standards for teaching quality and regularly has professional training courses for lecturers to provide students with the best training program. Highlights of the University of Greenwich: • 3 Queen's Anniversary Prize for Higher and Further Education Awards • 9 awards from Times Higher Education - UK's leading educational magazine • Quality of training is assessed High prices on UK and world training rankings • Training programs are designed to maximize each student's ability. • Ranked No.1 in student satisfaction in London in 2016 - According to The Complete University Guide 2017 Department of Computer Science - Greenwich University (CMS) Located at Greenwich Campus in London, the Faculty of Mathematics at the famous University of Greenwich with strong majors including informatics, information systems, multimedia graphics technology, mathematics and computer networks. Currently, the Faculty is teaching the most interesting and up-to-date courses on traditional informatics as well as modern technologies of Network Technology, Web, Internet, and multimedia graphics. In the field of Information Technology, the University of Greenwich Math and Informatics has surpassed many other universities in London ranked at the top of many UK universities reviews by magazines. prestigious vote (as in the evaluation of Universities of Times magazine in 2006, and The Guardian University Guide in 2003) In addition, EXODUS software of the Faculty has won the prestigious award of the Queen for studies. scientific research in 2002, the highest award at the 2001 IT and Information Technology Awards (BCS) and the EU Information Technology Community (IST) award in 2003.

</p>
