@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tòa nhà Nam Việt Á<br />
    Lô 2A Chương Dương, Khuê Mỹ, Ngũ Hành Sơn <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="HieuSupport@example.com">HieuSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="MinhMarketing@example.com">MinhMarketing@example.com</a>
</address>