@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FPT Greenwich Management System</h1>
    <p class="lead">FPT Greenwich Management System is a web app for manage student</p>
    <p><a href="https://greenwich.edu.vn/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is a system with high security and strict management of students
        </p>
        <p><a class="btn btn-default" href="https://cms.greenwich.edu.vn/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The system provides a large dictionary.</p>
        <p><a class="btn btn-default" href="https://vi.wikipedia.org/wiki/Trang_Ch%C3%ADnh">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get link</h2>
        <p>The system provides an academic portal.</p>
        <p><a class="btn btn-default" href="http://ap.fpt.edu.vn/">Learn more &raquo;</a></p>
    </div>
</div>