
@{
    ViewBag.Title = "Index";
}

<li>@Html.ActionLink("Manage Role", "Index", "Role")</li>

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>     
  
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}
