
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}

            <h2> Create User Roles</h2>
        



   

                @foreach (var item in Model)
                {
                    }
            


            <h3>   @Html.ActionLink("Click to Create New Role", "Create", "Role") </h3>
        



